<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">Products</h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="openModal(addModal, null)">Add new Product</button>
    <br><br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Wording</th>
          <th>Price</th>
          <th>Creation Date</th>
          <th>Last Modification Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of products'>
          <td>{{product.id}}</td>
          <td>{{product.code}}</td>
          <td>{{product.wording}}</td>
          <td>{{product.listPrice}}</td>
          <td>{{product.creationDate}}</td>
          <td>{{product.lastModificationDate}}</td>
          <td>
            <button type="button" class="btn btn-outline-primary" (click)="openModal(updateModal, product)">Edit</button>
            &nbsp;
            <button type="button" class="btn btn-outline-danger"(click)="deleteProduct(product.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Product</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="code">Code</label>
        <div class="input-group">
          <input id="code" class="form-control" type="text" [(ngModel)]="product.code" [ngModelOptions]="{standalone : true}">
        </div>
      </div>
      <div class="mb-3">
        <label for="wording">Wording</label>
        <div class="input-group">
          <input id="wording" class="form-control" type="text" [(ngModel)]="product.wording" [ngModelOptions]="{standalone : true}">
        </div>
      </div>
      <div class="mb-3">
        <label for="price">Price</label>
        <div class="input-group">
          <input id="price" class="form-control" type="text" [(ngModel)]="product.listPrice" [ngModelOptions]="{standalone : true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addProduct(product)" (click)="modal.close('Save click')">Add</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
<ng-template #updateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Product</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="code">Code</label>
        <div class="input-group">
          <input id="code" class="form-control" type="text" [(ngModel)]="product.code" [ngModelOptions]="{standalone : true}">
        </div>
      </div>
      <div class="mb-3">
        <label for="wording">Wording</label>
        <div class="input-group">
          <input id="wording" class="form-control" type="text" [(ngModel)]="product.wording" [ngModelOptions]="{standalone : true}">
        </div>
      </div>
      <div class="mb-3">
        <label for="listPrice">List Price</label>
        <div class="input-group">
          <input id="listPrice" class="form-control" type="text" [(ngModel)]="product.listPrice" [ngModelOptions]="{standalone : true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="updateProduct(product)" (click)="modal.close('Save click')">Edit</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
