<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">Activity Sectors</h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="openModal(addModal, null)">Add new Activity Sector</button>
    <br><br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Wording</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let activitySector of activitySectors'>
          <td>{{activitySector.id}}</td>
          <td>{{activitySector.code}}</td>
          <td>{{activitySector.wording}}</td>
          <td>
            <button type="button" class="btn btn-outline-primary" (click)="openModal(editModal, activitySector)">Edit</button>
            &nbsp;
            <button type="button" class="btn btn-outline-danger"(click)="deleteActivitySector(activitySector.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Activity Sector</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="code">Code</label>
        <div class="input-group">
          <input id="code" class="form-control" type="text" [(ngModel)]="activitySector.code" [ngModelOptions]="{standalone : true}">
        </div>
      </div>
      <div class="mb-3">
        <label for="wording">Wording</label>
        <div class="input-group">
          <input id="wording" class="form-control" type="text" [(ngModel)]="activitySector.wording" [ngModelOptions]="{standalone : true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addActivitySector(activitySector)" (click)="modal.close('Save click')">Add</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Activity Sector</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="code">Code</label>
        <div class="input-group">
          <input id="code" class="form-control" type="text" [(ngModel)]="activitySector.code" [ngModelOptions]="{standalone : true}">
        </div>
      </div>
      <div class="mb-3">
        <label for="wording">Wording</label>
        <div class="input-group">
          <input id="wording" class="form-control" type="text" [(ngModel)]="activitySector.wording" [ngModelOptions]="{standalone : true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="updateActivitySector(activitySector)" (click)="modal.close('Save click')">Edit</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
